/* Styling components of the ContributorsDetails */

.outsideDetails {
  text-align: center;

  .contributorsDetails {
    background-color: var(--cadet-color-4);
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1% 1% 1% 1%;

    h3 {
      font-weight: bold;
      font-style: oblique;
    }

    p {
      margin-right: 0.5%;
      margin-left: 0.5%;
    }

    p.description {
      text-align: justify;
      text-align-last: center;
    }

    span.dot {
      padding: 0 0.2rem 0 0.2rem;
    }

    div.leadership {
      margin-top: 10px;
      text-align: center;

      p {
        vertical-align: top;
        display: inline-block;
        width: 120px;
        &.wider {
          width: 140px;
        }
        &.evenWider {
          width: 200px;
        }
      }
    }

    div.hallOfFame {
      margin-top: 10px;
      text-align: center;
    }

    div.contributors {
      margin-top: 10px;
      text-align: center;

      h5 {
        text-align: center;
      }
    }
  }
}
