.Academy {
  top: 50px;
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .academy-content-parent {
    .academy-content {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: white;
    }
  }
}

.ContentDisplay {
  text-align: justify;
}

.pt-non-ideal-state {
  padding-top: 0.7rem;

  .pt-non-ideal-state-visual {
    margin-bottom: 0.5rem;
  }

  .pt-non-ideal-state-title {
    padding: 0.5rem 0 0 0;
  }
}

.Missions {
  color: $cadet-color-3;
  .mission-info {
    background-color: $cadet-color-5;
    .mission-info-description {
      text-align: justify;
    }
  }
}
