.AchievementControl {
  $default-spacing: 1em;

  background: black url(#{$achievement-assets}/background.png) center/cover no-repeat fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  width: 100%;

  // Interfaces e.g. Control Panel, Achievement Editor and Goal Editor
  %platform {
    border: solid yellow;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    padding: $default-spacing;
  }

  // Command buttons on top of the interfaces, e.g. Add A Task, Publish Changes, etc.
  %command {
    display: flex;
    flex-direction: row;
  }

  // Unordered list container, has a vertical scrollbar
  %container {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    height: 90%;
    list-style-type: none;
    margin: 0 auto;
    overflow-y: auto;
    scrollbar-color: white #444;
    scrollbar-width: thin;
  }

  .control-panel {
    @extend %platform;

    .control-command {
      @extend %command;
    }

    .control-container {
      @extend %container;
      padding: $default-spacing;
      min-width: 40em;
      // min-width: $card-width + $action-width + $default-margin * 2;

      .main-adder {
        width: 100%;
        text-align: center;
      }

      .edit-container {
        display: flex;
        flex-direction: row;

        .main-cards {
          flex-basis: 90%;
          height: 100%;

          .achievement-card {
            display: flex;

            flex-direction: row;

            // Card aspect ratio 6:1
            height: 5em;
            width: 30em;
            padding: 0;
            margin-bottom: 0.8em;

            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: box-shadow 0.2s ease-out;
            box-shadow: 0;

            .dropdown-button {
              display: flex;

              height: 5em;
              width: 6em;
              padding: 0 0 0 0.5em;

              justify-content: flex-start;
              align-items: center;
            }

            .content {
              display: flex;

              flex-direction: column;

              height: 5em;
              width: 24em;

              .heading {
                display: flex;
                flex-direction: row;

                height: 2.8em;

                justify-content: flex-start;
                align-items: center;

                padding: 0.2em 0 0 0;

                font-size: 0.7vw;

                .week {
                  padding: 0 0 0 1em;
                  transform: scale(0.8);
                }
              }

              .details {
                display: flex;
                flex-direction: row;

                height: 1.9em;

                font-size: 0.85em;

                .ability {
                  display: flex;
                  flex: 0 1 55%;
                }

                .deadline {
                  display: flex;
                  flex-direction: row;
                  flex: 0 1 25%;
                  align-items: stretch;

                  p {
                    padding-left: 0.3em;
                  }
                }

                .exp {
                  display: flex;
                  flex-direction: row;
                  flex: 0 1 20%;
                  align-items: stretch;

                  p {
                    padding-left: 0.3em;
                  }
                }
              }

              .progress {
                display: flex;
                height: 0.2em;
                width: 23em;

                align-items: flex-end;
              }
            }
          }

          .achievement-card:hover {
            transition: box-shadow 0.2s ease-in;
            box-shadow: 0 0 10px black;
          }

          .dropdown-container {
            display: flex;
            flex-direction: row;

            .lines {
              display: flex;
              width: 10%;
              flex-direction: column;

              margin: -0.8em -0.8em 0 0.8em;

              .l-shape {
                height: 50%;
                width: 60%;
                border-bottom: 1px solid white;
                border-left: 1px solid white;
              }

              .extend-bottom {
                height: 50%;
                border-left: 1px solid white;
              }
            }

            .dropdown-button {
              display: flex;

              height: 5em;
              width: 4em;

              justify-content: flex-start;
              align-items: center;
            }
          }
        }

        .editor-buttons {
          flex-basis: 25%;
          height: 10em;
          margin-bottom: 0.5em;

          display: flex;
          flex-direction: column;

          .task-selector {
            margin-top: 10px;
            text-align: center;
            align-items: center;
            justify-content: center;

            display: flex;
            flex-direction: column;

            .editor-button {
              width: 100%;
            }

            .move-editor-buttons {
              display: flex;
              flex-direction: row;
            }
          }
        }
      }
    }
  }

  .achievement-editor {
    @extend %platform;

    .achievement-command {
      @extend %command;
    }

    .achievement-container {
      @extend %container;
      min-width: 40em;
      // min-width: $card-width + $action-width + $default-margin * 2;

      .editable-achievement {
        width: 90%;
        background-color: #d9d9d9;

        height: 20%;
        margin-bottom: 10px;

        display: flex;
        flex-direction: column;

        .top-bar {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .bp3-dialog-container {
          align-items: center;
          justify-content: center;

          .goal {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .goal-medal {
              display: flex;
              flex-direction: column;
              flex-basis: 25%;

              text-align: center;
              align-items: center;
              justify-content: center;
            }

            .goal-text {
              display: flex;
              text-align: center;
              align-items: center;
              justify-content: center;
            }
          }

          .view-editor {
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;

            .background-card {
              max-width: 100%;
              background-color: #333e50;
            }

            .view-img {
              max-width: 100%;
            }
          }
        }

        .main {
          display: flex;
          flex-direction: row;
          flex-basis: 80%;

          .dropdown {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 10%;
          }

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-basis: 10%;
          }

          .display {
            display: flex;
            justify-content: center;
            margin-left: 10%;
            width: 100%;
            flex-direction: column;

            .details {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;

              .ability {
                flex-basis: 40%;
              }

              .deadline {
                display: flex;
                flex-direction: row;
                flex-basis: 30%;
              }

              .exp {
                display: flex;
                margin-left: 5%;
                flex-direction: row;
                flex-basis: 30%;
              }
            }
          }
        }
      }
    }
  }

  .goal-editor {
    @extend %platform;

    .goal-command {
      @extend %command;
    }

    .goal-container {
      @extend %container;
      min-width: 20em;
      // min-width: $card-width + $action-width + $default-margin * 2;
    }
  }

  .bp3-dialog-container {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .panel-disabler {
    pointer-events: none;
  }

  // Scroll Bar
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 1.5px;
    box-shadow: inset 0 0 3px black;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 1.5px;
  }
}
