.Achievements {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url('#{$images-path}/not_found_background.jpg');

  .achievement-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    text-align: justify;

    & > * {
      overflow-wrap: break-word;
    }

    .icons {
      width: 15%;
      flex-direction: column;

      div {
        &:nth-child(1) {
          height: 5%;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          flex-grow: 3;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          height: 20%;
          color: #ffffff;
        }
      }
    }

    .cards {
      width: 35%;
      display: table;

      ::-webkit-scrollbar {
        width: 12px;
      }

      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 1);
      }

      .display-list {
        overflow: hidden;
        overflow-y: scroll;
        height: 800px;
        max-height: 800px;
        list-style: none;
      }

      .achievement {
        width: 90%;
        background-color: #d9d9d9;

        height: 20%;
        margin-bottom: 10px;

        display: flex;
        flex-direction: row;

        .dropdown {
          flex-basis: 10%;
        }

        .icon {
          flex-basis: 10%;
        }

        .display {
          display: flex;
          width: 100%;
          flex-direction: column;

          .details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }

      .node {
        display: flex;
        flex-direction: row;

        .subachievement {
          width: 81%;
          background-color: #333e50;

          margin-bottom: 10px;

          display: flex;
          flex-direction: row;
        }
      }
    }

    .modal {
      width: 50%;
      height: 800px;
      max-height: 800px;
      display: flex;
      justify-content: center;
      text-align: center;

      .modal-container {
        width: 60%;
        border: solid white;
        background-color: #333e50;
        text-align: center;

        img {
          max-height: 40%;
          max-width: 80%;
        }
      }
    }
  }
}
