.AchievementControl {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url('https://source-academy-assets.s3-ap-southeast-1.amazonaws.com/locations/galaxy/normal%40x2.png');

  .bp3-dialog-container {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .panel-disabler {
    pointer-events: none;
  }

  .sample-cards {
    width: 50%;
    display: table;

    .main-adder {
      width: 100%;
      text-align: center;
    }

    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 1);
    }

    .display-list {
      overflow: hidden;
      overflow-y: scroll;
      height: 800px;
      max-height: 800px;
      list-style: none;
      padding-bottom: 10px;
    }

    .edit-container {
      display: flex;
      flex-direction: row;

      .main-cards {
        flex-basis: 90%;
        height: 100%;
      }

      .editor-buttons {
        flex-basis: 25%;
        height: 100%;
        margin-bottom: 0.5em;

        display: flex;
        flex-direction: column;

        .task-selector {
          margin-top: 10px;
          text-align: center;
          align-items: center;
          justify-content: center;

          display: flex;
          flex-direction: column;

          .editor-button {
            width: 100%;
          }

          .move-editor-buttons {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }

    .achievement {
      width: 90%;
      background-color: #d9d9d9;

      height: 20%;
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;

      .hints {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .delete {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 10%;
      }

      .main {
        display: flex;
        flex-direction: row;
        flex-basis: 80%;

        .dropdown {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 10%;
        }

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 10%;
        }

        .display {
          display: flex;
          justify-content: center;
          margin-left: 10%;
          width: 100%;
          flex-direction: column;

          .details {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .ability {
              flex-basis: 40%;
            }

            .deadline {
              display: flex;
              flex-direction: row;
              flex-basis: 30%;
            }

            .exp {
              display: flex;
              margin-left: 5%;
              flex-direction: row;
              flex-basis: 30%;
            }
          }
        }
      }
    }

    .node {
      display: flex;
      flex-direction: row;

      .prerequisite {
        width: 81%;
        background-color: #333e50;

        margin-bottom: 10px;

        display: flex;
        flex-direction: column;

        .delete {
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 10%;
        }

        .hints {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .main {
          display: flex;
          flex-direction: row;
          flex-basis: 80%;

          .display {
            display: flex;
            justify-content: center;
            margin-left: 10%;
            width: 100%;
            flex-direction: column;

            .details {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;

              .path {
                flex-basis: 40%;
              }

              .deadline {
                display: flex;
                flex-direction: row;
                flex-basis: 30%;

                .deadline-details {
                  display: flex;
                  flex-direction: column;
                }
              }

              .exp {
                display: flex;
                margin-left: 5%;
                flex-direction: row;
                flex-basis: 30%;
              }
            }
          }
        }
      }
    }
  }

  .editor-cards {
    width: 50%;
    display: table;

    .main-adder {
      width: 100%;
      text-align: center;
    }

    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 1);
    }

    .display-list {
      overflow: hidden;
      overflow-y: scroll;
      height: 800px;
      max-height: 800px;
      list-style: none;
    }

    .editable-achievement {
      width: 90%;
      background-color: #d9d9d9;

      height: 20%;
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;

      .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .bp3-dialog-container {
        align-items: center;
        justify-content: center;

        .goal {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          .goal-medal {
            display: flex;
            flex-direction: column;
            flex-basis: 25%;

            text-align: center;
            align-items: center;
            justify-content: center;
          }

          .goal-text {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
          }
        }

        .modal-editor {
          width: 100%;
          display: flex;
          justify-content: center;
          text-align: center;

          .background-card {
            max-width: 100%;
            background-color: #333e50;
          }

          .modal-img {
            max-width: 100%;
          }
        }
      }

      .main {
        display: flex;
        flex-direction: row;
        flex-basis: 80%;

        .dropdown {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 10%;
        }

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 10%;
        }

        .display {
          display: flex;
          justify-content: center;
          margin-left: 10%;
          width: 100%;
          flex-direction: column;

          .details {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .ability {
              flex-basis: 40%;
            }

            .deadline {
              display: flex;
              flex-direction: row;
              flex-basis: 30%;
            }

            .exp {
              display: flex;
              margin-left: 5%;
              flex-direction: row;
              flex-basis: 30%;
            }
          }
        }
      }
    }
  }
}
