.Achievements {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  .achievement-overview {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;

    margin-right: 50%;

    .progress {
      height: 1.5em;
      width: 15em;
    }
  }

  .achievement-main {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 100%;
    text-align: justify;

    & > * {
      overflow-wrap: break-word;
    }

    .filters {
      width: 15%;
      flex-direction: column;

      div {
        &:nth-child(1) {
          height: 5%;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          flex-grow: 3;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          height: 20%;
          color: #ffffff;
        }
      }
    }

    .cards {
      width: 40%;
      display: table;

      // Scroll Bar
      ::-webkit-scrollbar {
        width: 12px;
      }

      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 1);
      }

      // End of Scroll Bar

      // Container for Cards
      .display-list {
        overflow: hidden;
        overflow-y: scroll;
        height: 800px;
        max-height: 800px;
        list-style: none;
      }

      // This is the nightmare
      .achievement {
        width: 85%;
        background-color: #d9d9d9;

        height: 7.5em;
        margin-bottom: 1em;

        display: flex;
        flex-direction: column;

        p {
          font-size: 1em;
        }

        // This contains title, week, dropdown, etc
        .main {
          margin-top: -1em;
          display: flex;
          flex-direction: row;
          flex-basis: 80%;

          .dropdown {
            display: flex;
            align-items: center;
            flex-basis: 20%;
          }

          .display {
            display: flex;
            justify-content: center;
            width: 100%;
            flex-direction: column;

            .heading {
              display: flex;
              flex-direction: row;

              .title {
                flex-basis: 50%;
              }

              .hints {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            .details {
              display: flex;
              flex-direction: row;

              .ability {
                flex-basis: 50%;
              }

              .deadline {
                display: flex;
                flex-direction: row;
              }

              .exp {
                display: flex;
                margin-left: 5%;
                flex-direction: row;
              }
            }
          }
        }

        // Separate div from Main for progress bar
        .progress {
          height: 0.3em;
        }
      }

      .dropdown-expanded {
        display: flex;
        flex-direction: row;
        height: 100%;

        .lines {
          width: 10%;
          position: flex;
          display: flex;
          flex-direction: column;

          .upper {
            width: 100%;
            height: 50%;
            position: flex;
            border-bottom: 1px solid white;
            border-left: 1px solid white;
          }

          .lower {
            width: 100%;
            height: 50%;
            position: flex;
            border-left: 1px solid white;
          }
        }

        // Prerequisite cards take 75% of normal card width
        .prerequisite {
          width: 75%;
          background-color: #333e50;
          margin-bottom: 10px;
          height: 7.5em;

          display: flex;
          flex-direction: column;

          .main {
            margin-top: -1.5em;
            display: flex;
            flex-direction: row;
            flex-basis: 80%;

            .padder {
              flex-basis: 5%;
            }

            .display {
              display: flex;
              justify-content: center;
              width: 100%;
              flex-direction: column;

              .heading {
                display: flex;
                flex-direction: row;

                .title {
                  flex-basis: 50%;
                }

                .hints {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }

              .details {
                display: flex;
                flex-direction: row;

                .ability {
                  flex-basis: 50%;
                }

                .deadline {
                  display: flex;
                  flex-direction: row;
                }

                .exp {
                  display: flex;
                  margin-left: 5%;
                  flex-direction: row;
                }
              }
            }
          }

          .progress {
            height: 0.3em;
          }
        }
      }
    }

    .modal {
      width: 45%;
      height: 50em;
      display: flex;
      justify-content: center;
      text-align: center;

      .modal-container {
        width: 80%;
        border: solid white;
        text-align: center;

        .completiom {
          border: 1px solid white;
          box-shadow: 0px 0px 3px white;
          min-height: 5em;

          display: flex;

          text-align: center;
          align-items: center;
          justify-content: center;

          p {
            color: white;
          }
        }

        .modal-header {
          margin-top: -1em;
          position: relative;
          text-align: center;
          color: white;

          .modal-padder {
            min-height: 20em;
            max-height: 20em;
          }

          .modal-title {
            text-align: center;
            position: absolute;
            top: -1em;
            left: 0;
            right: 0;
          }

          .modal-deadline {
            text-align: center;
            position: absolute;
            margin: auto;
            top: 2em;
            left: 0;
            right: 0;
          }

          .modal-desc {
            text-align: center;
            position: absolute;
            left: 0;
            bottom: 1em;
            right: 0;

            p {
              color: yellow;
            }
          }
        }

        .goal {
          display: flex;
          flex-direction: row;

          .goal-medal {
            display: flex;
            flex-direction: column;
            flex-basis: 20%;

            align-items: center;
          }

          .goal-text {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
          }
        }

        .modal-exp {
          justify-content: center;
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}
