.AchievementDashboard {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  overflow-x: hidden;
  overflow-y: auto;

  background-size: cover;
  background-image: url('#{$achievement-assets}/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;

  .achievement-overview {
    display: flex;

    height: 7%;
    width: 45%;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    color: white;

    .level {
      display: flex;

      flex-direction: row;
      justify-content: center;
      align-items: center;

      .level-badge {
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0.5em 0.5em 0 0;

        .level-icon {
          height: 2.5em;
          width: 2.5em;

          background-image: url('#{$achievement-assets}/level-icon.png');
          background-size: contain;
        }

        p {
          padding: 0;
          margin: 0;
          font-size: 0.9em;
          text-decoration: underline white;
        }
      }

      .level-progress {
        display: flex;

        flex-direction: row;

        align-items: center;

        height: 1.2em;
        width: 20em;

        .progress-bar {
          display: flex;

          height: 1.2em;
          width: 20em;
        }

        p {
          display: inline-flex;

          z-index: 1;

          height: 1.2em;
          width: 20em;

          justify-content: center;
          align-items: center;

          padding: 0;
          margin: 0 -20em 0;
          color: #ffb412;
        }
      }

      .milestone {
        display: flex;

        flex-direction: column;

        height: 22%;
        width: 20%;

        margin: 7% 0 0 0;
        position: absolute;
        z-index: 2;

        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #90ff12;
        box-shadow: 0 0 10px #90ff12;

        h2 {
          text-align: center;
          text-decoration: underline;
        }

        .details {
          display: flex;

          flex-direction: row;

          align-items: center;

          padding: 0 0 1em 3.5em;

          .description {
            display: flex;

            padding: 1em 0 0 1em;
          }
        }
      }
    }
  }

  .achievement-main {
    display: flex;

    height: 93%;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & > * {
      overflow-wrap: break-word;
    }

    .filters {
      display: flex;

      height: 70%;
      width: 15%;

      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .filter-button {
        display: flex;

        flex-direction: column;
        align-items: center;

        line-height: 0.8em;

        cursor: pointer;
      }
    }

    .cards-container {
      display: flex;

      height: 90%;
      width: 35%;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      overflow-x: hidden;
      overflow-y: scroll;

      list-style-type: none;

      .achievement-card {
        display: flex;

        flex-direction: row;

        // Card aspect ratio 6:1
        height: 5em;
        width: 30em;
        padding: 0;
        margin-bottom: 0.8em;

        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: box-shadow 0.2s ease-out;
        box-shadow: 0;

        .dropdown-button {
          display: flex;

          height: 5em;
          width: 6em;
          padding: 0 0 0 0.5em;

          justify-content: flex-start;
          align-items: center;
        }

        .content {
          display: flex;

          flex-direction: column;

          height: 5em;
          width: 24em;

          .heading {
            display: flex;
            flex-direction: row;

            height: 2.8em;

            justify-content: flex-start;
            align-items: center;

            padding: 0.2em 0 0 0;

            font-size: 0.7vw;

            .week {
              padding: 0 0 0 1em;
              transform: scale(0.8);
            }
          }

          .details {
            display: flex;
            flex-direction: row;

            height: 1.9em;

            font-size: 0.85em;

            .ability {
              display: flex;
              flex: 0 1 55%;
            }

            .deadline {
              display: flex;
              flex-direction: row;
              flex: 0 1 25%;
              align-items: stretch;

              p {
                padding-left: 0.3em;
              }
            }

            .exp {
              display: flex;
              flex-direction: row;
              flex: 0 1 20%;
              align-items: stretch;

              p {
                padding-left: 0.3em;
              }
            }
          }

          .progress {
            display: flex;
            height: 0.2em;
            width: 23em;

            align-items: flex-end;
          }
        }
      }

      .achievement-card:hover {
        transition: box-shadow 0.2s ease-in;
        box-shadow: 0 0 10px black;
      }

      .dropdown-container {
        display: flex;
        flex-direction: row;

        .lines {
          display: flex;
          width: 10%;
          flex-direction: column;

          margin: -0.8em -0.8em 0 0.8em;

          .l-shape {
            height: 50%;
            width: 60%;
            border-bottom: 1px solid white;
            border-left: 1px solid white;
          }

          .extend-bottom {
            height: 50%;
            border-left: 1px solid white;
          }
        }

        .dropdown-button {
          display: flex;

          height: 5em;
          width: 4em;

          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    .modal-container {
      display: flex;

      height: 90%;
      width: 50%;

      justify-content: center;

      .modal {
        display: flex;

        height: 50em;
        width: 40em;
        flex-direction: column;

        color: white;

        .canvas {
          display: flex;

          flex-direction: column;
          align-items: center;

          height: 20em;
          width: 40em;

          margin: 0 0 0.5em 0;

          h1 {
            margin: 0.5em 0 0.2em 0;
          }

          .deadline {
            display: flex;

            flex-direction: row;

            align-items: baseline;

            font-size: 1.1em;

            .week {
              padding: 0 0 0 0.1em;
              transform: scale(0.9);
            }
          }

          .description {
            display: flex;

            height: 100%;
            width: 75%;

            justify-content: center;
            align-items: flex-end;

            text-align: center;
            color: yellow;
            font-size: 0.85em;
          }
        }

        .goal {
          display: flex;
          flex-direction: row;

          padding: 0.5em 0;

          .goal-medal {
            display: flex;
            flex-direction: column;
            flex-basis: 18%;

            justify-content: center;
            align-items: center;

            .medal-icon {
              height: 2em;
              width: 2em;

              background-image: url('#{$achievement-assets}/xp-icon.png');
              background-size: contain;
            }

            .medal-text {
              font-size: 0.7em;
            }
          }

          .goal-text {
            display: flex;
            align-items: center;
          }
        }

        hr {
          height: 1px;
          width: 90%;
          background-color: lightgrey;
          border: none;
          margin: 0.5em auto 0.5em;
        }
      }

      .completion {
        text-align: center;
        h1 {
          color: #ffc000;
        }
      }
    }

    // Scroll Bar
    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 1);
    }
  }
}
