.AchievementControl {
  // Cover aspect ratio 2:1
  $cover-height: 18em;
  $cover-width: 36em;
  // Card aspect ratio 2:1
  $card-height: 7em;
  $card-width: 30em;
  // View aspect ratio 18:25
  $view-height: 50em;
  $view-width: $cover-width;

  $cover-spacing: 0.3em;
  $content-spacing: 0.5em;
  $default-spacing: 1em;

  background: black url(#{$achievement-assets}/background.png) center/cover no-repeat fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  width: 100%;

  // Interfaces e.g. Control Panel, Achievement Editor and Goal Editor
  %platform {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    min-width: max-content;
    overflow: hidden;
    padding: $default-spacing math.div($default-spacing, 2);
  }

  // Command buttons on top of the interfaces, e.g. Add A Task, Publish Changes, etc.
  .command {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .command-button {
      display: flex;
      height: 1em;
      margin: $default-spacing;
    }
  }

  // Unordered list container, has a vertical scrollbar
  %container {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 90%;
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    scrollbar-color: white #444;
    scrollbar-width: thin;

    li {
      margin: $default-spacing;
    }

    li:not(:first-child) {
      margin: 0 $default-spacing $default-spacing;
    }
  }

  .achievement-preview {
    @extend %platform;

    .preview-container {
      @extend %container;
      width: $view-width + $default-spacing * 2;

      .task {
        .achievement-card {
          border-radius: 0.3rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          height: $card-height;
          transition: box-shadow 0.2s ease-in-out;
          width: $card-width;

          padding: 0.5em;
          column-gap: 0.5em;

          .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;

            .heading {
              align-items: center;
              display: flex;

              > * {
                margin: 0;
              }
            }

            .details {
              display: flex;
              flex-direction: row;
              font-size: 0.8em;

              p {
                margin: 0;
              }

              .deadline,
              .xp {
                align-items: center;
                display: flex;
                column-gap: 0.3em;
                width: 100%;
              }
            }
          }
        }

        .achievement-card:hover {
          box-shadow: 0 0 10px black;
        }

        .prerequisite-container {
          $shrink-factor: 0.9;
          $line-width: 1em;
          // remaining-width is the empty space between line and card
          $remaining-width: math.div((1 - $shrink-factor) * $card-width - 2 * $line-width, 2);
          $top-spacing: 0.2em;
          $line-extension: 0.1em;

          display: flex;
          flex-direction: column;

          .prerequisite {
            display: flex;
            flex-direction: row;
            max-width: $card-width;

            .dropdown-lines {
              height: $top-spacing + $card-height + $remaining-width + $line-extension;
              margin: -#{math.div($card-height, 1.6)} -#{$line-width + $remaining-width} 0
                $line-width;
              min-width: $line-width;
            }

            .achievement-card {
              margin: $top-spacing 0 0 0;
              transform: scale($shrink-factor);
            }
          }

          .prerequisite:first-child {
            .dropdown-lines {
              height: $top-spacing + math.div($card-height, 2) + $remaining-width;
              margin-top: 0;
            }
          }
        }
      }

      .no-view {
        align-items: center;
        text-shadow: black 1px 1px;
        color: white;
        display: flex;
        flex-direction: column;
        margin: auto;
      }

      .view {
        border-radius: 1rem;
        text-shadow: black 1px 1px;
        color: white;
        display: flex;
        flex-direction: column;
        margin: $default-spacing;
        width: $view-width;
        padding-bottom: 1rem;

        .cover {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
          display: flex;
          flex-direction: column;
          text-align: center;
          min-height: $cover-height;
          min-width: $cover-width;

          h1 {
            margin: 0.5em auto 0;
            padding: $cover-spacing;
          }

          p {
            margin: 0 auto;
            padding: $cover-spacing;
          }

          .description {
            color: yellow;
            font-size: 0.85em;
            margin: auto auto 1em;
            width: 80%;
          }
        }

        .progress-header {
          margin-left: 2rem;
        }

        .goal {
          align-items: center;
          display: flex;
          flex-direction: row;
          padding: $content-spacing;

          .goal-badge {
            align-items: center;
            display: flex;
            flex-direction: column;
            min-width: 6em;
            padding: 0 $content-spacing;

            .goal-icon {
              background: url(#{$achievement-assets}/xp-icon.png) center/contain;
              height: 2em;
              width: 2em;
            }

            p {
              text-align: center;
              font-size: 0.7em;
              padding: 0.2em 0 0 0;
            }
          }

          .goal-progress {
            width: 100%;
            padding-right: 2.5em;

            .progress {
              margin-top: 5px;
            }
          }

          p {
            margin: 0;
            padding: 0;
          }
        }

        hr {
          background: lightgrey;
          border: none;
          height: 1px;
          margin: $content-spacing auto;
          width: 90%;
        }

        .completion {
          padding: $content-spacing;
          text-align: center;

          h1 {
            color: #fc0;
            margin: 0 auto $content-spacing;
          }

          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .achievement-editor {
    @extend %platform;

    .achievement-container {
      @extend %container;
      width: $card-width + $default-spacing * 2;

      .editable-card {
        display: flex;
        flex-direction: row;
        height: $card-height;
        width: $card-width;

        .action-button {
          align-items: center;
          display: flex;
          flex-direction: row;
          height: $card-height;
          justify-content: center;
          width: $card-height;
        }

        .content {
          display: flex;
          flex-direction: column;
          height: $card-height;
          justify-content: space-evenly;
          width: $card-width * 0.64;

          .title {
            align-items: center;
            display: flex;
            margin: 0;
          }

          .details {
            display: flex;
          }
        }

        .content-button {
          align-items: center;
          display: flex;
          margin: $default-spacing;
          margin-left: auto;
        }
      }
    }
  }

  .goal-editor {
    @extend %platform;

    .goal-container {
      @extend %container;
      width: $card-width + $default-spacing * 2;

      .editable-goal {
        background: white;
        display: flex;
        flex-direction: column;
        padding: $content-spacing;
        width: $card-width;

        .action-button {
          align-items: center;
          display: flex;
          justify-content: center;
        }

        h3 {
          margin: $default-spacing;
        }
      }
    }
  }

  // Scroll Bar
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 1.5px;
    box-shadow: inset 0 0 3px black;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 1.5px;
  }
}
