.AchievementDashboard {
  background: black url(#{$achievement-assets}/background.png) center/cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  width: 100%;

  .achievement-overview {
    $default-spacing: 0.5em;

    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    padding: $default-spacing;

    .level {
      $progress-bar-height: 1.2em;
      $progress-bar-width: 20em;

      align-items: center;
      display: flex;
      flex-direction: row;

      .level-badge {
        align-items: center;
        display: flex;
        flex-direction: column;

        .level-icon {
          background: url(#{$achievement-assets}/level-icon.png) center/contain;
          height: 2.5em;
          width: 2.5em;
        }

        p {
          font-size: 0.9em;
          margin: 0;
          text-decoration: underline;
        }
      }

      .level-progress {
        display: flex;
        height: $progress-bar-height;
        margin: 0 0 0 $default-spacing;
        width: $progress-bar-width;

        .progress-bar {
          height: $progress-bar-height;
          width: $progress-bar-width;
        }

        p {
          align-items: center;
          color: #ffef12;
          display: inline-flex;
          justify-content: center;
          margin: 0 0 0 -#{$progress-bar-width};
          width: $progress-bar-width;
          z-index: 1;
        }

        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }

      /* Temporarily removed
      .milestone {
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #90ff12;
        box-shadow: 0 0 10px #90ff12;
        display: flex;
        flex-direction: column;
        margin: 20em 0 0 1em;
        padding: 1em 2em;
        position: absolute;
        z-index: 2;

        h2 {
          margin: 0;
          text-align: center;
          text-decoration: underline;
        }

        .details {
          align-items: center;
          display: flex;
          flex-direction: row;

          .description {
            padding: 1em 0 0 0;
          }
        }
      } */
    }

    .level,
    h3 {
      margin: 0 $default-spacing;
    }
  }

  .achievement-main {
    $border-glow-radius: 10px;
    // Canvas aspect ratio 2:1
    $canvas-height: 18em;
    $canvas-width: 36em;
    // Card aspect ratio 2:1
    $card-height: 5em;
    $card-width: 30em;
    $default-spacing: 1em;
    $view-height: 50em;
    $view-width: $canvas-width;

    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: hidden;

    %container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      /* To be exact, 
      max-height: $view-height + $border-glow-radius * 2 */
      max-height: $view-height + $default-spacing * 2;
      overflow-y: auto;
    }

    .filter-container {
      @extend %container;
      height: 60%;
      min-width: auto;
      overflow: visible;

      .filter {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin: auto $default-spacing;

        p {
          font-size: 0.8em;
          margin: 0;
          padding: 1em 0 0 0;
          white-space: nowrap;
        }
      }

      @media only screen and (max-height: 600px) {
        height: 80%;

        p {
          display: none;
        }
      }
    }

    .list-container {
      @extend %container;
      height: 90%;
      list-style-type: none;
      min-width: $card-width + $default-spacing;
      padding: 0;
      scrollbar-color: white #444;
      scrollbar-width: thin;

      li {
        margin: 0 $default-spacing 0 0;
      }

      li:not(:first-child) {
        margin: $default-spacing $default-spacing 0 0;
      }

      .achievement-card {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: $card-height;
        transition: box-shadow 0.2s ease-out;
        width: $card-width;

        .dropdown-button {
          align-items: center;
          display: flex;
          height: $card-height;
          padding: 0 0 0 0.5em;
          width: $card-height;
        }

        .content {
          display: flex;
          flex-direction: column;
          height: $card-height;
          width: $card-width - $card-height;

          .heading {
            align-items: center;
            display: flex;
            flex-direction: row;
            height: $card-height * 3 / 5;
          }

          .details {
            display: flex;
            flex-direction: row;
            font-size: 0.8em;

            p {
              margin: 0;
            }

            .ability {
              align-items: center;
              display: flex;
              flex: 1 1 50%;
            }

            .deadline,
            .exp {
              align-items: center;
              display: flex;
              flex: 1 1 25%;

              p {
                padding: 0 0 0 0.3em;
              }
            }
          }

          .progress {
            height: 0.2em;
            margin: 0.2em 0 0 0;
            width: 95%;
          }
        }
      }

      .achievement-card:hover {
        box-shadow: 0 0 10px black;
        transition: box-shadow 0.2s ease-in;
      }

      .prerequisite-container {
        $shrink-factor: 0.9;
        $line-width: 1em;
        // remaining-width is the empty space between line and card
        $remaining-width: ((1 - $shrink-factor) * $card-width - 2 * $line-width) / 2;
        $top-spacing: 0.2em;

        display: flex;
        flex-direction: column;

        .prerequisite {
          display: flex;
          flex-direction: row;
          max-width: $card-width;

          .dropdown-lines {
            height: $top-spacing + $card-height;
            margin: -#{$card-height / 2} -#{$line-width + $remaining-width} 0 $line-width;
            min-width: $line-width;
          }

          .achievement-card {
            margin: $top-spacing 0 0 0;
            transform: scale($shrink-factor);
          }
        }

        .prerequisite:first-child {
          .dropdown-lines {
            height: $top-spacing + $card-height / 2;
            margin-top: 0;
          }
        }
      }
    }

    .view-container {
      @extend %container;
      align-items: center;
      height: 90%;
      /* To be exact, 
      min-width: $view-width + $border-glow-radius * 2 */
      min-width: $view-width + $default-spacing * 2;
      scrollbar-width: none;

      .view {
        color: white;
        display: flex;
        flex-direction: column;
        margin: $border-glow-radius;
        min-height: $view-height;
        width: $view-width;

        .canvas {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: $canvas-height;
          width: $canvas-width;

          h1 {
            margin: 0.5em 0 0.2em 0;
          }

          .deadline {
            align-items: baseline;
            display: flex;
            flex-direction: row;
            font-size: 1.1em;

            .week {
              padding: 0 0 0 0.1em;
              transform: scale(0.9);
            }
          }

          .description {
            align-items: flex-end;
            color: yellow;
            display: flex;
            font-size: 0.85em;
            height: 100%;
            justify-content: center;
            text-align: center;
            width: 75%;
          }
        }

        .goal {
          display: flex;
          flex-direction: row;
          padding: 0.5em 0;

          .goal-medal {
            align-items: center;
            display: flex;
            flex-basis: 18%;
            flex-direction: column;
            justify-content: center;

            .medal-icon {
              background: url(#{$achievement-assets}/xp-icon.png) center/contain;
              height: 2em;
              width: 2em;
            }

            .medal-text {
              font-size: 0.7em;
            }
          }

          .goal-text {
            align-items: center;
            display: flex;
          }
        }

        hr {
          background-color: lightgrey;
          border: none;
          height: 1px;
          margin: 0.5em auto 0.5em;
          width: 90%;
        }

        .completion {
          text-align: center;
          h1 {
            color: #ffc000;
          }
        }
      }
    }

    // Scroll Bar
    ::-webkit-scrollbar {
      width: 3px;
    }

    ::-webkit-scrollbar-track {
      border-radius: 1.5px;
      box-shadow: inset 0 0 3px black;
    }

    ::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 1.5px;
    }

    .view-container::-webkit-scrollbar {
      display: none;
    }
  }
}
