.mission-comments {
  display: flex;

  .box-comment {
    flex-grow: 1;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .mission-button {
    flex: none;

    height: 2rem;
    width: 6rem;

    margin-top: 0rem;
    margin-bottom: 1rem;
    border-radius: 5px;

    margin-right: 1rem;
  }
}
