.Achievements {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  overflow-x: hidden;
  overflow-y: auto;

  background-image: url(https://source-academy-assets.s3-ap-southeast-1.amazonaws.com/locations/galaxy/normal.png);
  background-position: center;
  background-repeat: no-repeat;

  .achievement-overview {
    display: flex;

    height: 7%;
    width: 50%;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    color: white;

    .level-progress {
      width: 15em;
    }
  }

  .achievement-main {
    display: flex;

    height: 93%;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & > * {
      overflow-wrap: break-word;
    }

    .filters {
      display: flex;

      height: 70%;
      width: 15%;

      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .filter-button {
        display: flex;

        flex-direction: column;
        align-items: center;

        line-height: 0.8em;
        color: white;

        cursor: pointer;
      }
    }

    .cards-container {
      display: flex;

      height: 90%;
      width: 35%;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      overflow-x: hidden;
      overflow-y: scroll;

      list-style-type: none;

      .achievement-card {
        display: flex;

        flex-direction: row;

        // Card aspect ratio 6:1
        height: 5em;
        width: 30em;
        padding: 0;
        margin-bottom: 0.8em;

        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: box-shadow 0.2s ease-out;
        box-shadow: 0;

        .dropdown-button {
          display: flex;

          height: 5em;
          width: 6em;
          padding: 0 0 0 0.5em;

          justify-content: flex-start;
          align-items: center;
        }

        .content {
          display: flex;

          flex-direction: column;

          height: 5em;
          width: 24em;

          .heading {
            display: flex;
            flex-direction: row;

            height: 2.8em;

            justify-content: flex-start;
            align-items: center;

            padding: 0.2em 0 0 0;

            .week {
              padding: 0 0 0 1em;
              transform: scale(0.8);
            }
          }

          .details {
            display: flex;
            flex-direction: row;

            height: 1.9em;

            font-size: 0.85em;

            .ability {
              display: flex;
              flex: 0 1 55%;
            }

            .deadline {
              display: flex;
              flex-direction: row;
              flex: 0 1 25%;
              align-items: stretch;

              p {
                padding-left: 0.3em;
              }
            }

            .exp {
              display: flex;
              flex-direction: row;
              flex: 0 1 20%;
              align-items: stretch;

              p {
                padding-left: 0.3em;
              }
            }
          }

          .progress {
            display: flex;
            height: 0.2em;
            width: 23em;

            align-items: flex-end;
          }
        }
      }

      .achievement-card:hover {
        transition: box-shadow 0.2s ease-in;
        box-shadow: 0 0 10px black;
      }

      .dropdown-container {
        display: flex;
        flex-direction: row;

        .lines {
          display: flex;
          width: 10%;
          flex-direction: column;

          margin: -2em -0.8em -1em 0.8em;

          .l-shape {
            height: 50%;
            border-bottom: 1px solid white;
            border-left: 1px solid white;
          }

          .extend-bottom {
            height: 50%;
            border-left: 1px solid white;
          }
        }

        .dropdown-button {
          display: flex;

          height: 5em;
          width: 4em;

          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    .modal-container {
      display: flex;

      height: 90%;
      width: 50%;

      justify-content: center;

      .modal {
        display: flex;

        height: 50em;
        width: 40em;
        flex-direction: column;
        border: 1px solid #9ecaed;
        box-shadow: 0 0 10px #9ecaed;

        color: white;
        background-image: url(https://source-academy-assets.s3-ap-southeast-1.amazonaws.com/achievement/background/exploration-background.png);
        background-size: cover;
        background-position: center;

        .canvas {
          display: flex;

          flex-direction: column;
          align-items: center;

          height: 20em;
          width: 40em;

          margin: 0 0 0.5em 0;

          h1 {
            margin: 0.4em 0 0.2em 0;
          }

          .deadline {
            display: flex;

            flex-direction: row;

            align-items: baseline;

            font-size: 1.1em;

            .week {
              padding: 0 0 0 0.1em;
              transform: scale(0.9);
            }
          }

          .description {
            display: flex;

            height: 100%;
            width: 75%;

            align-items: flex-end;

            text-align: center;
            color: yellow;
          }
        }

        .goal {
          display: flex;
          flex-direction: row;

          padding: 0.5em 0;

          .goal-medal {
            display: flex;
            flex-direction: column;
            flex-basis: 18%;

            justify-content: center;
            align-items: center;

            .medal-text {
              font-size: 0.7em;
            }
          }

          .goal-text {
            display: flex;
            align-items: center;
            font-size: 1.1em;
          }
        }

        hr {
          height: 1px;
          width: 90%;
          background-color: lightgrey;
          border: none;
          margin: 0.5em auto 0.5em;
        }
      }

      .completion {
        text-align: center;
        h1 {
          color: #ffc000;
        }
      }
    }

    // Scroll Bar
    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255, 255, 255, 1);
    }
  }
}
