/**
 * Background is repeated here instead of Application, so that
 * - The background is repeated regardless of content overextending the page
 * - Application is kept at 100% to prevent things from stetching infinitely
 *   e.g a resizable workspace
 */
html {
  background-size: cover;
  background-image: url('#{$images-path}/academy_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Application {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Application__main {
  height: 100%;
  display: flex;
  flex: 1 1 100%;
}
