html {
  background-size: cover;
  background-image: url('#{$images-path}/academy_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Application {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Application__main {
  height: 100%;
  display: flex;
  flex: 1 1 100%;
}
