@import "node_modules/@blueprintjs/core/lib/scss/variables.scss";

$cadet-background : #14243c;

.Application {
    height: 100vh;
    background: $cadet-background;
    display: flex;
    flex-direction: column;
}

.Application__main {
    margin-top: 1rem;
    margin-left: 1rem;
}
