.AssessmentWorkspace {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.assessment-briefing {
  padding-bottom: 0;
  .assessment-briefing-button {
    margin-top: 1rem;
  }
}

.Assessment {
  color: $cadet-color-3;
  .listing {
    .listing-due-icon {
      vertical-align: baseline;  
      margin-right: 0.4rem;
    }
    background-color: $cadet-color-5;
    margin: 0px;
    text-align: justify;
  }
}
