.Assessment {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mission-briefing {
  padding-bottom: 0;
  .mission-briefing-button {
    margin-top: 1rem;
  }
}

.AssessmentListing {
  color: $cadet-color-3;
  .listing {
    background-color: $cadet-color-5;
    text-align: justify;
  }
}
