.ContentDisplay {
  height: 100%;
  width: 100%;

  &.row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .contentdisplay-content-parent {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;

    .contentdisplay-content {
      background-color: white;
      > * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.bp3-running-text.md {
  pre {
    > code {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: transparent;
    }
  }
}
