.ContentDisplay {
  height: 100%;
  width: 100%;

  &.row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .contentdisplay-content-parent {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;

    .contentdisplay-content {
      background-color: white;
      > * {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.#{$ns}-running-text.md {
  pre {
    > code {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: transparent;
    }
  }
}

/*
  Force Blueprint Dialog to scroll on focus

  Note: there should exist a better fix, as the Blueprint Dialog behaves
  properly on the official demo/documentation website
  https://blueprintjs.com/docs/#core/components/dialog
*/
.#{$ns}-dialog-container {
  pointer-events: all;
}

/*
  Temporary fix for this issue: https://github.com/palantir/blueprint/issues/1008

  (when Blueprint Dialog is open, browser scroll bar is not clickable)
*/
.#{$ns}-overlay-backdrop {
  display: none;
}

.#{$ns}-overlay-open {
  background-color: rgba(16, 22, 26, 0.7);

  &.#{$ns}-toast-container {
    background-color: unset;
  }
}

.WhiteBackground {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.Horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.VerticalStack {
  > * + * {
    margin-top: 10px;
  }
}
