.Device {
  top: 50px;
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .device-content-parent {
    .device-content {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: white;
    }
  }
}
