.RepositoryRadioGroup {
  min-height: 100px;
  max-height: 320px;
  height: auto;
  width: auto;
  overflow-y: scroll;
}

.FileTree {
  min-height: 100px;
  max-height: 320px;
  height: auto;
  width: auto;
  overflow-y: scroll;
}
