.RepoPanel {
  min-height: 100px;
  max-height: 440px;
  height: auto;
  width: auto;
  overflow-y: scroll;
}

.FilePanel {
  min-height: 100px;
  max-height: 440px;
  height: auto;
  width: auto;
  overflow-y: scroll;
}
