.GroundControl {
  .#{$ns}-collapse .#{$ns}-card {
    margin-top: 4px;
  }

  .publish-switch.publish-switch {
    padding-top: 2px;
    padding-left: 48px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 28px;
  }
}
