.GroundControl {
  .#{$ns}-collapse .#{$ns}-card {
    margin-top: 4px;
  }

  .toggle-button-wrapper {
    padding-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 28px;

    .#{$ns}-control {
      margin-bottom: 0;
    }
  }
}
