.IDE {
  display: flex;
  flex-direction: column;

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .ide-content-parent {
    height: 85vh;
  }

  .Editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    .editor-control {
      flex: initial;
    }
    .editor-react-ace {
      flex: 1;
      // to align with the repl output cards
      margin-top: 0.3rem;
    }
  }

  .Repl {
    height: 100%;
    overflow-y: auto;

    .pt-card {
      font-family: Monospace;
      white-space: pre-line;
      padding: 0.7rem;
      margin: 0.3rem;
    }

    .repl-react-ace {
      margin: 0.3rem;
    }
  }

  .react-ace {
    background-color: $cadet-primary;
    .ace_gutter {
      background: $cadet-primary;
      color: rgb(128,145,160);
    }
  }
}
