.IDE {
  display: flex;
  flex-direction: column;

  .ide-content-parent {
    height: 85vh;
  }

  .repl-parent {
    padding-right: 0px;
    padding-left: 0px;
  }

  .pt-card {
    font-family: Monospace;
    white-space: pre-line;
    padding: 0.7rem;
  }

  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}
