.Mission {
  height: 100%;
  display: flex;
  background-color: $cadet-color-1;
  flex-direction: column;
  flex: 1 1 100%;

  .workspace {
    .ControlBar {
      .ControlBar_editingWorkspace {
        width: 0;
      }
    }
  }

  .MissionEditorRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .MissionEditorColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    .MissionEditorLeftColumn {
    }

    .MissionEditorRightColumn {
    }
  }
}
