.MissionEditor {
  height: 100%;
  display: flex;
  background-color: $cadet-color-1;
  flex-direction: column;
  flex: 1 1 100%;

  .Multi-line {
    white-space: 'pre-line';
    overflow-wrap: 'break-word';
  }
}

.missionBrowser {
  background-color: $cadet-color-3;
  min-width: 600px;
}

// This is mostly a copy of 'Assessment' style in _academy.scss
// Scrollbar is added to fit better within the dialog
.missionBrowserContent {
  color: $cadet-color-3;
  max-height: 480px;
  overflow-y: scroll;

  @media only screen and (max-width: 768px) {
    // for mobile display
    .ContentDisplay {
      .contentdisplay-content.#{$ns}-card {
        padding: 10px;
      }

      .listing {
        height: 160px;
      }

      .listing-picture {
        height: 100%;
        padding: 0;
      }

      .listing-text {
        padding: 0 0 0 0.5rem;

        .#{$ns}-heading {
          margin: 0;
        }
        .listing-header {
          margin-bottom: 0;
        }

        .listing-description {
          max-height: 52px;
          overflow-y: auto;
          font-size: 12px;
          margin: 0.5rem 0;
          .#{$ns}-running-text {
            font-size: 12px;
          }
        }

        .listing-footer {
          font-size: 12px;
        }
      }
    }
  }

  .contentdisplay-content.#{$ns}-card {
    padding: 10px 20px 10px 20px;

    button.collapse-button {
      /* To override the center-xs center alignment */
      display: block;
      margin: 0 0 10px 0;
    }
  }

  .listing.#{$ns}-card {
    margin: 0 0 1rem 0;
  }

  .listing {
    background-color: $cadet-color-5;
    margin: 0px;
    padding: 0;
    text-align: justify;

    & > * {
      overflow-wrap: break-word;
    }
  }

  .listing-picture {
    padding: 0;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 3px 0 0 3px;
    }

    img.cover-image-submitted {
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    }

    /* Disable grayscale on hover */
    img.cover-image-submitted:hover {
      -webkit-filter: grayscale(0);
      filter: none;
    }
  }

  .listing-text {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 1rem;
    display: flex;
    flex-direction: column;
  }

  .listing-header {
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .listing-title {
      margin-bottom: 0;

      h4 {
        margin-top: 4px;
      }
    }

    .listing-title-tooltip {
      /* Space out icon tooltips */
      margin-left: 2px;

      /* Visually separate first icon tooltip from assessment title */
      &:first-of-type {
        margin-left: 6px;
      }

      .#{$ns}-icon {
        vertical-align: baseline;
      }
    }
  }

  .listing-description {
    flex-grow: 1;
    flex-shrink: 0;
    /* Creates space between the description text, buttons and title */
    margin: 0.5rem 0rem 0.5rem 0.5rem;

    & > * {
      /* Limit height of description on smaller screens */
      max-height: 30vh;
      /* Add padding to visually separate scrollbar from content */
      padding-right: 0.5rem;
      overflow-y: auto;
    }
  }

  .listing-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .listing-due-date {
      display: flex;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      align-items: center;
    }

    .listing-due-icon {
      margin-right: 0.4rem;
    }
  }

  .listing-button {
    /* Prevent <div> container collapsing and forcing button text to two lines */
    flex-grow: 0;
    flex-shrink: 0;
  }
}
