$shadow-dark: rgba(0, 0, 0, 0.5);
$shadow-light: rgba(0, 0, 0, 0.2);

.mobile-selected-panel {
  height: 100%;
  width: 100vw;
  padding: 15px;
  background-color: $cadet-color-2;
  white-space: pre-wrap;
  overflow: scroll;

  .sa-substituter {
    .#{$ns}-slider-label {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      display: none;

      &:first-child,
      &:last-child {
        display: inline;
      }
    }

    .#{$ns}-card {
      background-color: $cadet-color-1;
      padding: 0.4rem 0.6rem 0.4rem 0.6rem;
      margin: 2rem 0 0.5rem 0;

      .resultOutput {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: white;
        padding: 0px;
        margin: 0px;
        text-align: left;

        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;

        font: 16px / normal 'Inconsolata', 'Consolas', monospace;
      }
    }
  }

  .sa-list-visualizer {
    .kineticjs-content {
      canvas {
        // to be changed later
        width: 100% !important;
      }
    }
  }
}

.mobile-unselected-panel {
  display: none;
}

.mobile-editor-panel {
  width: 100vw;
  height: 100%;
  z-index: 1;
}

.mobile-tabs-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: $cadet-color-1;
  position: absolute;
  bottom: 0;
  box-shadow: 0 -4px 8px $shadow-dark, 0 -6px 16px $shadow-light,
    inset 0 14px 14px -16px rgba(206, 217, 224, 0.1);

  .mobile-control-bar-button {
    margin-bottom: 5px;
    // padding for button to match Blueprint's default tab size
    padding: 2.5px 19px 2.5px 19px;
  }
}

.mobile-control-bar {
  width: 210px;
  text-align: center;
}

.mobile-draggable {
  width: 100%;
  height: calc(var(--mobile-repl-height, 0px) + 70px);
  z-index: 2;
  position: absolute;
  bottom: calc(var(--mobile-repl-height, 0px) * -1);
  background-color: $cadet-color-3;
  border-radius: 5px;
  box-shadow: 0 0px 8px $shadow-dark, 0 0 16px $shadow-light;

  .handle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 14px;
    width: 100%;
    background-color: $cadet-color-1;
    box-shadow: inset 0 8px 6px -8px rgba(206, 217, 224, 0.2),
      inset 0 -8px 6px -8px rgba(206, 217, 224, 0.2);

    .circle {
      height: 6px;
      width: 6px;
      margin: 0 8px;
      border-radius: 50%;
      background-color: grey;
    }
  }

  .enabled {
    cursor: grab;
  }
  .disabled {
    cursor: not-allowed;
  }

  .REPL-content {
    width: 100%;
    height: var(--mobile-repl-inner-height, 0px);
    padding: 0 10px 10px 10px;
    overflow: auto;

    // showing top shadow only when scroll down
    background: linear-gradient($cadet-color-3 30%, rgba(255, 255, 255, 0)),
      // cover up initial shadow
      radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.7) 60%,
          rgba(0, 0, 0, 0)
        );
    background-repeat: no-repeat;
    background-color: $cadet-color-3;
    background-size: 100% 40px, 100% 20px;
    background-attachment: local, scroll;

    .#{$ns}-card {
      opacity: 0.9; // for background shadow to pass through
    }

    canvas {
      // only rune shown in repl so this override will not affect others
      width: 100% !important;
      height: 100% !important;
    }
  }
}
