.NavigationBar {
  width: 100%;
  flex: 0 0 auto;
  .pt-button {
    font-weight: 500;
  }
  .pt-navbar-heading {
    text-transform: uppercase;
  }
}

.NavigationBar__link :first-child {
  margin-left: 0.1rem !important;
  margin-right: 0.3rem !important;
}

.Academy {
  .NavigationBar {
    height: 40px;

    .pt-navbar-group {
      height: 40px;
    }
  }

  .NavigationBar .pt-button {
    text-transform: initial;
    font-weight: 250;
  }
}
