.Playground {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.kineticjs-content {
  width: 100% !important;
  height: 40vh !important; // 100% results in 0 height, 100vh is too big.
  overflow: scroll;
}
