.Playground {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

/**
 * Previously used to fix the following bug:
 * "Fixes a bug where the 1000x1000 canvas does not overflow
 * when its container is too small."
 * Currently not used as it results in the viewport being locked to a fixed
 * maximum height.
 */
/*
.kineticjs-content {
  width: 100% !important;
  height: 40vh !important; // 100% results in 0 height, 100vh is too big.
  overflow: scroll;
}
*/
