.tab-container {
  margin-left: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.tab {
  // Not supported in all browsers, see
  // https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation#browser_compatibility.
  // writing-mode: sideways-lr;
  // The following CSS properties are equivalent & universally supported:
  // --- Start ---
  writing-mode: vertical-rl;
  transform: scale(-1);
  // --- End ---
  padding: 12px 3px;
  // !important is necessary to override the default Card background-color property.
  background-color: $cadet-color-2 !important;
}
