.Sourcecast {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.Slider {
  width: 90%;
  justify-self: center;
  margin: 0 auto;
}

.PlayerControl {
  display: flex;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
}

.SourcecastTable {
  /* To show the table borders that get cut out by a Card  */
  padding: 1px;

  /** 
   *  To prevent misalignment of column header and content 
   *  for large displays. This effectively flushes the content left.
   *  See https://github.com/source-academy/cadet-frontend/pull/148
   */
  .ag-body-container {
    display: block;
  }
  .ag-grid-export-button {
    margin-top: 20px;
  }
}

.Multi-line {
  white-space: 'pre-line';
  overflow-wrap: 'break-word';
}
