.Sourcereel {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.Timer {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.RecorderControl {
  display: flex;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
}

.sourcereel-save-form {
  list-style-type: none;
  padding: 0;
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
  }
}
