.workspace {
  .#{$ns}-card {
    background-color: $cadet-color-2;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  }
}

.newUserblog {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  overflow-y: scroll;
  .userblogContent {
    .content {
      color: black;
      word-wrap: break-word;
      background-color: white;
      padding: 16px 24px;
      font-size: 1rem;
      line-height: 1.5;

      code:not(pre code) {
        border: 1px solid #cacaca;
        background-color: #fafafb;
        color: #393939;
        margin: 0px;
        white-space: nowrap;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 1px;
      }

      code {
        font-size: 0.9rem;
        white-space: nowrap;
      }

      pre:has(> code) {
        border: 1px solid #cacaca;
        line-height: 1.2em;
        padding: 10px;
        overflow: auto;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #fafafb;
        color: #393939;
        margin: 0px;
      }

      pre code {
        white-space: pre;
      }
    }
  }
}

.ControlBar {
  display: flex;
  background-color: $cadet-color-1;
  padding: 5px;
}
