/* Form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
}

/* Form fields */
.form-field {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 80px;
}

.student-form-field {
  margin-bottom: 25px;
  width: 800px;
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
}

/* Labels */
.form-label {
  font-size: 16px;
  margin-bottom: 15px;
}

/* Select inputs */
.form-select {
  flex: 1; /* Take all available space */
  width: 100%;
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  transition: height 0.3s; /* Add transition for smooth height change */
}

/* Add button */
// .add-button {
//   padding: 8px 16px;
//   background-color: #4c75af;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .add-button:hover {
//   background-color: #4560a0;
// }

/* Remove button */
// .remove-button {
//   padding: 8px 16px;
//   background-color: #f44336;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   margin-left: 10px; /* Add some space between the select and the button */
//   cursor: pointer;
// }

// .remove-button:hover {
//   background-color: #d32f2f;
// }

/* Back button */
// .back-button {
//   padding: 8px 16px;
//   background-color: #f44336;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .back-button:hover {
//   background-color: #d32f2f;
// }

/* Submit button */
// .submit-button {
//   padding: 8px 16px;
//   background-color: #4caf50;
//   color: #fff;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

.submit-button:hover {
  background-color: #45a049;
}

/* Form footer */
.form-footer {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Submit button container */
.submit-button-container {
  margin-left: auto; /* Pushes the container to the right */
}

/* Submit button */
.submit-button {
  cursor: pointer;
  position: relative;
  padding: 6px 12px;
  color: rgb(39, 223, 57);
  border: 2px solid rgb(39, 223, 57);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.submit-button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(39, 223, 57);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.submit-button:hover::before {
  scale: 3;
}

.submit-button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(98, 193, 138, 0.4);
}

.submit-button:active {
  scale: 1;
}

/* Back button */
.back-button {
  cursor: pointer;
  position: relative;
  padding: 6px 12px;
  color: rgb(226, 0, 0);
  border: 2px solid rgb(226, 0, 0);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.back-button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(226, 0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.back-button:hover::before {
  scale: 3;
}

.back-button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(98, 193, 138, 0.4);
}

.back-button:active {
  scale: 1;
}

/* Add button */
.add-button {
  cursor: pointer;
  position: relative;
  padding: 6px 12px;
  color: #3b82f6;
  border: 2px solid #3b82f6;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.add-button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #3b82f6;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.add-button:hover::before {
  scale: 3;
}

.add-button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(98, 193, 138, 0.4);
}

.add-button:active {
  scale: 1;
}

/* Remove button */
.remove-button {
  cursor: pointer;
  position: relative;
  padding: 6px 12px;
  color: rgb(255, 60, 60);
  border: 2px solid rgb(255, 60, 60);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 600;
  margin-left: 10px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

.remove-button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(255, 60, 60);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.remove-button:hover::before {
  scale: 3;
}

.remove-button:hover {
  color: #ffffff;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(98, 193, 138, 0.4);
}

.remove-button:active {
  scale: 1;
}

/* Drag and Drop field*/
#drag-drop-area {
  border: 2px dashed #ccc;
  padding: 40px;
  text-align: center;
}

#drag-drop-area p {
  margin: 0;
}

#drag-drop-area:hover {
  outline: 2px solid lightblue;
}

.form-field-row {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust the spacing as needed */
}
