$pure-green: #00ff00;
$dark-green: #00e000;
.GreenScreen {
  // Hide NavigationBar
  height: 100vh;
  margin-top: -50px;
  z-index: 1000;

  .workspace {
    background: $pure-green !important;
  }

  #brace-editor {
    background: $pure-green !important;
  }

  .ace_print-margin {
    background: $dark-green !important;
  }

  /* editor specific */
  .editor-react-ace {
    color: #222222;
    border: 0.1rem solid $dark-green !important;
  }

  .ace_gutter {
    background: $pure-green !important;
  }

  .ace_gutter-layer {
    background: $pure-green !important;
  }

  /* repl specific */
  .#{$ns}-card {
    background: $pure-green !important;
    box-shadow: none !important;
    border: 0.1rem solid $dark-green !important;
  }
}
