@import '_global';

.Academy {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.Academy-switching-courses {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listing-xp {
  display: flex;
  gap: 0.5rem;
}
