/* Container for warnings upon clicking assign entries button */
.reassign-voting-warning {
  font-size: 11px;
  margin-left: 38px;
}

.confirm-assign-voting,
.current-voting-status {
  max-height: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 15px;

  .confirm-assign-text {
    margin-top: 9px;
  }

  .voting-status-text {
    margin-top: 10px;
  }
}
