@import '_global';

.grading-comment-selector {
  text-align: center;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  font-size: 0.875rem;
  border-radius: 4px;
  background-color: $cadet-color-1;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.grading-comment-selector-title {
  margin-bottom: 12px;
}

.grading-comment-selector-item {
  margin: 3px;
  padding: 7px;
  background-color: $cadet-color-2;
  border: 1px solid $cadet-color-3;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: $cadet-color-3;
  }
}
