.IDE {
    display: flex;
    flex-direction: column;
}

.IDE_main {
    margin-top: 1rem;
    margin-left: 1rem;
}

.IDE > .repl-parent {
    padding-right: 0px;
    padding-left: 0px;
}

.Repl > .pt-card {
    font-family: Monospace;
    white-space: pre-line;
    padding: 0.7rem;
}

.IDE > .row {
    margin-right: 0px;
    margin-left: 0px;
}
