@use 'sass:math';

@import '~normalize.css/normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import '~@blueprintjs/popover2/lib/css/blueprint-popover2.css';
@import '~@blueprintjs/select/lib/css/blueprint-select.css';
@import '~flexboxgrid/dist/flexboxgrid.css';
@import '~flexboxgrid-helpers/dist/flexboxgrid-helpers.min.css';

// CSS styles for react-mde Markdown editor
// (currently this editor is only used for grading comments)
// react-mde-preview.css is excluded to avoid conflict with blueprintjs
// styles in the preview tab of the editor, providing a more accurate
// depiction of what the actual comment will look like
@import '~react-mde/lib/styles/css/react-mde-toolbar.css';
@import '~react-mde/lib/styles/css/react-mde-editor.css';
@import '~react-mde/lib/styles/css/react-mde.css';

@import '../../node_modules/@blueprintjs/core/lib/scss/variables';
@import 'global';

@import 'academy';
@import 'achievementcontrol';
@import 'achievementdashboard';
@import 'application';
@import 'commons';
@import 'contributors';
@import 'dropdown';
@import 'editorTabs';
@import 'game';
@import 'github';
@import 'gamesimulator';
@import 'groundcontrol';
@import 'mobileworkspace';
@import 'navigationBar';
@import 'playground';
@import 'sicp';
@import 'sideBar';
@import 'sourcereel';
@import 'sourcecast';
@import 'stories';
@import 'variableHighlighting';
@import 'workspaceGreen';
@import 'workspace';
