$gold-color: #ffd700;
$silver-color: #919191;
$bronze-color: #cd7f32;
$primary-color: white;
$secondary-color: rgba(0, 0, 0, 0.6);
$border-color: white;
$shadow-color: rgba(0, 0, 0, 0.1);
$highlight-color: rgba(255, 255, 255, 0.25);
$xp-color: rgb(31, 147, 255);

.leaderboard-container {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

// Top 3 Players
.top-three-podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 100px;
  transition: all 0.3s ease-in-out;

  .top-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease-in-out;

    .player-name {
      font-size: 16px;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      position: absolute;
      overflow: hidden;
      top: -50px;
      text-align: center;
      width: 120px;
      transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
    }

    .player-bar {
      background: $primary-color;
      border-radius: 10px;
      width: 100px;
      text-align: center;
      padding: 10px 0;
      box-shadow: 0 4px 6px $shadow-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
      &:hover + .player-name {
        transform: scale(1.1);
      }
    }

    .player-rank {
      font-size: 24px;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.85);
      margin-bottom: 5px;
      transition: transform 0.3s ease-in-out;
    }

    .player-xp {
      font-size: 14px;
      color: $xp-color;
      font-weight: normal;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease-in-out;
    }

    // Different heights for rankings
    &.second .player-bar {
      height: 120px;
    }
    &.first .player-bar {
      height: 150px;
    }
    &.third .player-bar {
      height: 100px;
    }

    &.first {
      color: $gold-color;
    }
    &.second {
      color: $silver-color;
    }
    &.third {
      color: $bronze-color;
    }
  }

  // Center 1st place
  .first {
    order: 2;
  }
  .second {
    order: 1;
  }
  .third {
    order: 3;
  }

  // Hover and active effects for player bars
  &:hover .top-player {
    transform: scale(1.05);
  }
  .top-player:hover .player-name {
    opacity: 0.8;
  }
}

// Dropdown
.buttons-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .dropdown {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    width: auto; //250px;
    text-align: left;
    cursor: pointer;
  }
}

// export as csv button
.export-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-self: flex-end;
}

.export-button:hover {
  background-color: #45a049;
}

.export-button:focus {
  outline: none;
}

.leaderboard-table-container {
  width: min(1200px, 100%);

  /* General ag-Grid customization */
  .ag-header-cell[col-id='name'] .ag-header-cell-label {
    text-align: left !important;
    border-left: none !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }

  .ag-header-cell:last-child .ag-header-cell-resize {
    display: none; /* Hide the resize handle after the last column */
  }

  .ag-root-wrapper {
    background-color: transparent;
    border-radius: 3px;
    overflow: hidden;
    color: white;
  }

  .ag-header {
    background-color: $highlight-color;
    border-bottom: 1px solid $border-color;
    font-size: 15px;
  }

  .ag-header-cell {
    padding: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  .ag-header-cell-label {
    text-align: center;
    justify-content: center;
  }

  .ag-row {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px #000000;
  }

  .ag-cell {
    padding: 10px;
    text-align: center;
    border: 1px solid $border-color;
    background-color: rgba(0, 0, 0, 0.55);

    &:nth-child(2) {
      border-right: none;
    }

    &:nth-child(3) {
      text-align: left;
      border-left: none;
    }
  }

  /* Avatar styling */
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  /* Pagination styling */
  .ag-paging-panel {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);

    .ag-picker-field-display {
      color: black;
    }

    .ag-paging-button {
      padding: 8px 12px;
      border: none;
      background: rgba(255, 255, 255, 1);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .ag-paging-button:hover {
      background: rgba(255, 255, 255, 0.4);
    }

    .ag-paging-button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .ag-paging-button.ag-active {
      background: white;
      color: black;
      font-weight: bold;
    }
  }
}

.table-gap {
  margin: 50px 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  // small screen changes
  .top-three {
    flex-direction: column;
    align-items: center;
  }

  .top-player {
    width: 80%;
    max-width: 200px;
  }

  .dropdown {
    width: 80%;
    max-width: 300px;
  }
}
