@import '_global';

.primary-navbar {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $cadet-color-1, $cadet-color-2);
}
