@import '_global';
@import "@blueprintjs/core/lib/scss/variables";

.span {
    display: inline-block;
    margin-block: 0.5rem;
}

.left-cell {
    min-height: 40px;
    display: flex;
    align-items: center;
}

.right-cell {
    vertical-align: middle !important;
}

.switch {
    margin-bottom: 0px;
}

.default-switch {
    display: inline-block;
    margin-left: 5px;
}

.table {
    padding-inline: 0px !important;
}

.table-container {
    padding-top: 1rem;
    padding-inline: 1rem;
}

.session-code {
    color: $blue4;
    display: inline-block;
    margin-left: 5px;
}

.session-code:hover {
    cursor: pointer;
    color: $blue5;
}

.user-icon {
    margin-right: 5px;
}