/* Form container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
}

/* Form fields */
.form-field {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 80px;
}

.student-form-field {
  margin-bottom: 25px;
  width: 800px;
}

/* Input container */
.input-container {
  display: flex;
  align-items: center;
}

/* Labels */
.form-label {
  font-size: 16px;
  margin-bottom: 15px;
}

/* Select inputs */
.form-select {
  flex: 1; /* Take all available space */
  width: 100%;
  height: 36px;
  border-radius: 4px;
  font-size: 14px;
  transition: height 0.3s; /* Add transition for smooth height change */
}

/* Form footer */
.form-footer {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field-row {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust the spacing as needed */
}
