$pure-green: #00ff00;
$dark-green: #00e000;

.NavigationBar {
  display: none !important;
}

.Application {
  background: $pure-green !important;
}

.editor-react-ace {
  border: 0.1rem solid $dark-green !important;
}

#brace-editor {
  background: $pure-green !important;
}

.ace_gutter {
  background: $pure-green !important;
}

.ace_gutter-layer {
  background: $pure-green !important;
}

.pt-card {
  background: $pure-green !important;
  box-shadow: none !important;
  border: 0.1rem solid $dark-green !important;
}
