.NavigationBar {
  display: none !important; }

.workspace {
  background: #00ff00 !important; }

#brace-editor {
  background: #00ff00 !important; }

.ace_print-margin {
  background: #00e000 !important; }

/* editor specific */
.editor-react-ace {
  border: 0.1rem solid #00e000 !important; }

.ace_gutter {
  background: #00ff00 !important; }

.ace_gutter-layer {
  background: #00ff00 !important; }

/* repl specific */
.pt-card {
  background: #00ff00 !important;
  box-shadow: none !important;
  border: 0.1rem solid #00e000 !important; }
