name: Build source-academy.github.io
on:
  push:
    branches:
      - sa_2021

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install and build
        run: |
          npm install
          npm run build

      - name: Deploy
        uses: s0/git-publish-subdir-action@master
        env:
          REPO: git@github.com:source-academy/source-academy.github.io.git
          BRANCH: master
          FOLDER: build
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_PRIVATE_KEY }}
