name: Run CI

on:
  push:
    branches:
      - master
  pull_request:

env:
  TZ: Asia/Singapore
  NODE_OPTIONS: --max_old_space_size=8192
  GENERATE_SOURCEMAP: false

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        commands: [tsc, 'format:ci', eslint, build, test, test-coveralls]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run command
        run: yarn run ${{ matrix.commands }}
      - name: Coveralls - Upload test coverage report
        if: ${{ matrix.commands == 'test-coverage'}}
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
